<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: blueviolet;">table for data</h1>
    

    <table class="container"; border="2">
        <tr>
          <th>s.no</th>
          <th>name</th>
          <th>age</th>
          <th>can vote</th>
        </tr>

        {% for people in peoples %}
        <tr>

          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          <td>
            {% if people.age >= 18  %}
            👍
            {% else %}
            👎
          </td>
          {% endif %}
          
        </tr>
        
        {% endfor %}
      </table>

</body>
</html>